body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family:'Groupe' ;
  src: url(../src/font/@font-face/ab83b275830b2d585ea027c47e3b237a.woff2);
}

@font-face {
  font-family:'Nexa' ;
  src: url(../src/font/@font-face/NexaText-Trial-Heavy.ttf);
}